<configuration>
   <system.webServer>
    <security>
        <ipSecurity allowUnlisted="false" denyAction="Forbidden"></ipSecurity>
    </security>
     <httpErrors errorMode="Custom" allowAbsolutePathsWhenDelegated="true">
         <remove statusCode="403" />
         <error statusCode="403"
            path="%HOME%\site\wwwroot\errors\403.htm" />
       </httpErrors>
   </system.webServer>
</configuration>